table
{
  width:100%;
  
}

table {
  width: 100%;
}

.imgRow
{
  background-color: aqua;
  width: 70px;
  height: 60px;
  border-radius: 50%;
  margin-top: 3px;
  margin-bottom: 3px;
}
.edit
{
  cursor: pointer;

}

.edit:hover {
  color: red;
}

.edit:active
{

   color: white
}

.okk
{
  padding: 30px;
}
